/*PS Added*/
.outerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 75%;
  height: calc(200px + 2vw);
}
/*PS Added*/
.titledivad {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  width: 100%;
  margin: 0;
}
/*PS Added*/
.histogram {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  border-style: solid;
  align-content: end;
  height: 100%;
  width: 100%;
}
/*PS Added*/
.histogrambar {
  background-color: #0af;
  display: flex;
  flex: 1;
  position: relative;
  border: 1px solid;
  height: 100%;
}
/*PS Added*/
.count {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  top: 100%;
  width: 100%;
  height: 40px;
}
/*PS Added*/
.innerdivad {
  display: flex;
  flex-direction: row;
}