/*PS Added*/
@keyframes fade-inout {

  0%{opacity: 0;}
  100%{opacity: 1;}
  from {
    translate: 0 1vw;
  }

  to {
    translate: 0 0;
  }
}
/*PS Added*/
@keyframes expand {

  from {
    width: 50px;
    width: 3.906vw;
    height: 22px;
    height: 1.719vw;
  }

  to {
    width: 1800px;
    width: 93.75vw;
    height: 300px;
    height: 15.625vw;
  }
}
/*PS Added*/
@keyframes rotate {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
/*PS Added*/
.animation,
.animation2 {
  opacity: 0;
}
/*PS Added*/
.animation3 {
  animation: rotate 1s infinite;
}
/*PS Added*/
.animation.visible {
  opacity: 1;
  animation: fade-inout 1s;
}
/*PS Added*/
.animation2.visible {
  opacity: 1;
  animation: expand 1s;
}
/*PS Added*/
.altanimation {
  animation: fade-inout 1s;
}