/*PS Added*/
.button1,
.button2,
.button3 {
  background-color: #fff;
  border-radius: calc(8px + 1vw);
  border-width: 5px;
  border-width: 0.391vw;
  border-color: #000;
  border: solid;
  cursor: pointer;
  min-height: 60px;
  height: 4.688vw;
  width: 100%;
}
/*PS Added*/
.button1:hover,
.button2:hover,
.button3:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
  transition: 0.35s;
}
/*PS Added*/
.button1:active,
.button2:active,
.button3:active {
  transition: 0.10s;
  opacity: 0.65;
}
/*PS Added*/
.button2 {
  background-color: #000;
  border-color: #fff;
}
/*PS Added*/
.button3 {
  align-items: center;
  width: 45%;
  margin-right: 2.5%;
  margin-left: 2.5%;
}
/*PS Added*/
.button2:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}
/*PS Added*/
.LoginButton{
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
  display: inline-block;
}
/*PS Added*/
.buttongapout {
  width: calc(350px + 20vw);
}
/*EQ added*/
.LoginButton-2{
  background-color: white;
  color: black;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 7px;
  width: 8.877vw;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 10px;
}

.LoginButton-2:hover{
   opacity: 0.8;
}

.LoginButton-2:active{
  transition: 0.10s;
  opacity: 0.5;
}


.LoginButton-3{
  background-color: white;
  color: black;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  border-radius: 7px;
  min-width: 200px;
  width: 19.778vw;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 10px;
}

.LoginButton-3:hover{
  opacity: 0.8;
}

.LoginButton-3:active{
  transition: 0.10s;
  opacity: 0.5;
}


.PopupButton{
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.close-button{
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.PopupButton:hover{
  opacity: 0.8;
}
/*PS Added*/
.LoginButton:hover{
  opacity: 0.8;
}
/*PS Added*/
.LoginButton:active{
  opacity: 0.5;
}

/*EQ added*/
.generatedcontent-space{
  display: flex;
  justify-content: center; /* Optional: centers the buttons horizontally */
  gap: 20px;
  font-family: 'Chinese Rocks Rg', sana-serif;
  height: 200px;
  margin-top:25px;
  margin-bottom: 10px;
  margin-right:125px;
  margin-left: 125px;
}

.generatedcontent-space-2{
  display: flex;
  justify-content: center; /* Optional: centers the buttons horizontally */
  gap: 175px;
  font-family: 'Chinese Rocks Rg', sana-serif;
  height: 50px;
  margin-top: 50px;
}

.generatedcontent-space-3{
  display: flex;
  justify-content: center; /* Optional: centers the buttons horizontally */
  gap: 35px;
  font-family: 'Chinese Rocks Rg', sana-serif;
  height: 50px;
  margin-top: 50px;
  margin-right:125px;
  margin-left: 125px;
}


/*Added in by EQ*/
.button-container{
  display: flex;
  justify-content: center; /* Optional: centers the buttons horizontally */
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}



/*Added in by EQ*/
.RegenText{
  background-color: white;
  color: black;
  border: 5px solid black;
  /*border-radius: 100px;*/
  font-size: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 220px;
  padding-right: 220px;
  border-radius: 2px;
  width: 42.63vw;
  border-radius: 1.172vw;
  cursor: pointer;
  font-family: 'Chinese Rocks Rg', sana-serif;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 10px;
  transition: opacity 0.15s;
}

.RegenText:hover{
  background-color: black;
  color: white;
  border: white;
  transition: 0.35s;
}

.RegenText:active{
  opacity: 0.5;
}

.Regen-img-color{
  background-color: white;
  color: black;
  border: 5px solid black;
  /*border-radius: 100px;*/
  font-size: 25px;
  width: 200px;
  height: 200px;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Chinese Rocks Rg', sana-serif;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 10px;
  transition: opacity 0.15s;
  margin-left: 800px;
  display:inline-block;
}