/*PS Added*/
.contacttitle,
.inputsdivtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(250px + 24vw);
  margin-top: 25px;
}
/*PS Added*/
.contacttitleinner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
}
/*PS Added*/
.inputsdivtitle {
  align-items: flex-start;
  margin-top: 25px;
}
/*PS Added*/
.inputinnerdiv,
.inputinnerdiv2,
.inputinnerdiv3 {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  gap: 20px;
}
/*PS Added*/
.inputinnerdiv2 {
  width: 100%;
}
/*PS Added*/
.inputinnerdiv3 {
  position: relative;
  flex-direction: column;
}
/*PS Added*/
.nametextarea,
.emailtextarea,
.messagetextarea {
  white-space: pre-wrap;
  resize: none;
  height: calc(10px + 1.25vw);
  /*font-size: 22px;
  font-size: 1.146vw;*/
  font-size: calc(12px + 1vw);
  border-radius: 18px;
  border-radius: 0.938vw;
  border-width: .5px;
  border-width: 0.026vw;
  padding: 10px;
  padding: 0.521vw;
  font-family: 'Chinese Rocks Rg', sana-serif;
}
/*PS Added*/
.emailtextarea {
  width: 100%;
}
/*PS Added*/
.messagetextarea {
  width: 100%;
  height: calc(100px + 1.5vw);
}
/*PS Added*/
.buttondrop {
  background-color: white;
  border-radius: 15px;
  border-radius: 1.172vw;
  border-color: black;
  border: 1px solid;
  cursor: pointer;
  min-height: 40px;
  height: calc(24px + 2vw);
  width: 100%;
}
/*PS Added*/
.buttondrop:hover {
  opacity: 0.2;
  transition: 0.4s;
}
/*PS Added*/
.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 15px;
  border-radius: 1.172vw;
  border: 1px solid;
  border-color: #777;
  width: 100%;
  top: -200%;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #fff;
  transition: all ease-in-out 0.2s;
  opacity: 0;
  z-index: -1;
}
/*PS Added*/
.dropdown.show {
  top: 100%;
  opacity: 1;
  z-index: 1;
}
/*PS Added*/
.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  height: calc(24px + 2vw);
  width: 99%;
}
/*PS Added*/
.selector:hover {
  background-color: #ccc;
}
/*PS Added*/
.special {
  display: flex;
  gap: 10px;
  justify-content: center;
}