/*PS Added*/
.ImageBox {
  width: 200px;
  height: 200px;
  float: right;
}
/*PS Added*/
.LogoBox {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
/*PS Added*/
.LoadBox {
  width: 100px;
  width: 5.208vw;
  height: 100px;
  height: 5.208vw;
}
/*PS Added*/
.Background {
  width: 100%;
  height: 571px;
  height: 29.74vw;
  object-fit: cover;
  object-position: center;
}
/*PS Added*/
.marketimage {
  min-width: 185.6px;
  width: 14.5vw;
  min-height: 185.6px;
  height: 14.5vw;
}
/*PS Added*/
.marketimage1 {
  min-width: 300px;
  width: 45.365vw;
  object-fit: contain;
  object-position: center;
}
/*PS Added*/
.marketimage2 {
  min-height: 157.069px;
  height: 12.271vw;
  min-width: 104.87px;
  width: 8.193vw;
  object-fit: contain;
  object-position: center;
}
/*PS Added*/
.socialmediaicon {
  min-width: 27px;
  width: 1.406vw;
  min-height: 27px;
  height: 1.406vw;
  object-fit: contain;
  object-position: center;
  cursor: pointer;
}
/*PS Added*/
.brand {
  min-width: 230px;
  width: 17.969vw;
  object-fit: contain;
  object-position: center;
}
/*PS Added*/
.texan {
  min-width: 72px;
  width: 5.625vw;
  object-fit: contain;
  object-position: center;
}
/*PS Added*/
.traits{
  font-size:20px;
  color:black;
  align-items:left;
  text-align:left;
  width: 300px;
}
