/*PS Created first css to test implementation 
& creating file structure*/
/*created by Paul, edited and modified by Ernesto Q. */

/* EQ added in the font and made the text larger.*/
@import url('https://fonts.cdnfonts.com/css/chinese-rocks');
                
.topBar {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  background-color: black;
  padding-left: 50px;
  padding-right: 50px;
}

.headerOptions {
  align-items: center;
  display: flex;
  margin: 0px;
  font-family: opensans, Arial;
  color: white;
  font-weight: 100;
  cursor: pointer;
}

.header {
  height: 250px;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: black;
  font-family: 'Chinese Rocks Rg', sana-serif;
  justify-content: center;
  color: white;
  font-size: 100px;
  margin-top: 0px;
}
            
.LoginButton{
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.LoginButton:hover{
  opacity: 0.8;
}

.LoginButton:active{
  opacity: 0.5;
}

body{
  margin: 0;
}