/*PS Created first css to test implementation 
& creating file structure*/
/*created by Paul, edited and modified by Ernesto Q. */

/* EQ added in the font and made the text larger, as well as all the popup visuals*/
@import url('https://fonts.cdnfonts.com/css/chinese-rocks');
/* PS Added a, .account-menu, nav-menu, nav-wrapper, topBar, headerOptions, header, & LoginButton*/
/*PS Added*/
#home .home{
  text-decoration: underline;
}
/*PS Added*/
#account .account{
  text-decoration: underline;
}
/*PS Added*/
#order-input .inputorder{
  text-decoration: underline;
}
/*PS Added*/
#order-output .outputorder{
  text-decoration: underline;
}
/*PS Added*/
.title {
  font-family: 'Chinese Rocks Rg', sana-serif;
  margin: 0;
  font-size: 150px;
  font-weight: 900;
  cursor: default;
  color: white;
}
/*PS Added*/
.pagetexttitle {
  font-family: 'Chinese Rocks Rg', sana-serif;
  font-size: 27px;
  font-weight: 900;
  cursor: default;
  margin-top: 45px;
  margin-bottom: 20px;
  color: white;
}
/*PS Added*/
.pagetextlargew {
  font-family: 'Chinese Rocks Rg', sana-serif;
  font-size: 47px;
  font-weight: 900;
  cursor: default;
  margin: 0;
  color: white;
}
/*PS Added*/
.pagetextmediumw {
  font-family: 'Chinese Rocks Rg', sana-serif;
  font-size: 37px;
  font-weight: 900;
  cursor: default;
  margin: 0;
  color: white;
}
/*PS Added*/
.pagetextsmallw {
  font-family: 'Chinese Rocks Rg', sana-serif;
  font-size: 20px;
  font-weight: 900;
  cursor: default;
  margin: 0;
  color: white;
}
.pagetextlargeb {
  font-family: 'Chinese Rocks Rg', sana-serif;
  font-size: 47px;
  font-weight: 900;
  cursor: default;
  margin: 0;
  color: black;
}
/*PS Added*/
.pagetextmediumb {
  font-family: 'Chinese Rocks Rg', sana-serif;
  font-size: 37px;
  font-weight: 900;
  cursor: default;
  margin: 0;
  color: black;
}
/*PS Added*/
.pagetextsmallb {
  font-family: 'Chinese Rocks Rg', sana-serif;
  font-size: 20px;
  font-weight: 900;
  cursor: default;
  margin: 0;
  color: black;
}
/*PS Added*/
.trademarktitle {
  margin-top: 77px;
  margin-bottom: 0px;
}
/*PS Added*/
.titlesection {
  background-color: black;
  display: grid;
  grid-template-columns: auto 105px auto 105px auto;
  grid-template-rows: auto auto;
}
/*PS Added*/
.titlesection-a {
  grid-column: 3;
  grid-row: 1;
  background-color: black;
  text-align: center;
}
/*PS Added*/
.titlesection-b {
  grid-column: 3;
  grid-row: 2;
  background-color: black;
}
/*PS Added*/
.titlesection-c {
  grid-column: 4;
  grid-row: 1 / span 2;
  background-color: black;
  text-align: right;
}
/*PS Added*/
.marketing {
  background-color: black;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: auto;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}
/*PS Added*/
.marketing-a {
  grid-column: 1;
  margin-top: 50px;
  margin-left: 25px;
  background-color: black;
}
/*PS Added*/
.marketing-b {
  grid-column: 2;
  background-color: black;
}
/*PS Added*/
.marketing-c {
  grid-column: 3;
  background-color: black;
}
/*PS Added*/
.marketing-d {
  grid-column: 4;
  background-color: black;
}
/*PS Added*/
.marketing-e {
  grid-column: 5;
  background-color: black;
}
/*PS Added*/
.marketing-f {
  grid-column: 6;
  margin-top: 50px;
  margin-right: 25px;
  background-color: black;
}
/*PS Added*/
.marketingdiv3,
.marketingdiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 325px;
  width: 675px;
  margin-top: 50px;
  justify-content: space-between;
}
/*PS Added*/
.marketingdiv2 {
  display: flex;
  flex-direction: column;
  height: 325px;
  width: 350px;
  margin-top: 50px;
  justify-content: center;
}
/*PS Added*/
.marketinner {
  display: flex;
  height: 277px;
  width: 675px;
  justify-content: space-between;
}
/*PS Added*/
.body{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
/*PS Added*/
.body2 {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
  margin: 0;
}
/*PS Added*/
.account-menu{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  background-color: black;
}
/*PS Added*/
.nav-menu{
  display: flex;
  flex-direction: row;
  flex: 5;
  justify-content: flex-end;
  background-color: black;
  padding-left: 40px;
}
/*PS Added*/
.nav-wrapper {
  display: flex;
  flex-direction: row;
  padding-inline: 50px;
  align-items: center;
  height: 60px;
  background-color: black;
}
/*PS Added*/
.textnavmenu {
  margin: 0;
  margin-left: 25px;
  font-family: opensans, Arial;
  color: white;
  font-weight: 80;
  cursor: pointer;
  font-size: 20px;
}
/*PS Added*/
.textaccountmenu {
  margin: 0;
  margin-left: 25px;
  font-family: opensans, Arial;
  color: white;
  font-weight: 80;
  cursor: pointer;
  font-size: 20px;
}
/*PS Added*/
.header {
  height: 250px;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: black;
  font-family: 'Chinese Rocks Rg', sana-serif;
  justify-content: center;
  color: white;
  font-size: 100px;
  margin: 0px;
}
/*PS Added*/
.button1 {
  background-color: white;
  border-radius: 15px;
  border-width: 5px;
  border-color: black;
  border: solid;
  height: 71px;
  width: 100%;
}
.button1:hover {
  background-color: black;
  color: white;
  border-color: white;
  transition: 0.35s;
}
.button1:active {
  transition: 0.10s;
  opacity: 0.65;
}

/*PS Added*/
.LoginButton{
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
  display: inline-block;
}

.LoginButton-2{
  background-color: white;
  color: black;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
  display: inline-block;
}

/*Popup button temporary*/
.PopupButton{
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}

/*Content within the popup window*/
/*Modal and modal-content done by Ernesto Q.*/
.modal{
  display: none;
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:60%;
  height:50%;
  
}

.modal-content{
  background-color: black;
  border-style: solid;
  border-color: white;
  padding: 20px;
  width:80%;
  font-family: 'Chinese Rocks Rg', sana-serif;
  color: white;
}

.close-button{
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.PopupButton:hover{
  opacity: 0.8;
}
/*PS Added*/
.LoginButton:hover{
  opacity: 0.8;
}
/*PS Added*/
.LoginButton:active{
  opacity: 0.5;
}
/*PS Added*/
body{
  margin: 0;
}
