/*PS Created first css to test implementation 
& creating file structure*/
/*created by Paul, edited and modified by Ernesto Q. */

/* EQ added in the font and made the text larger.*/
@import url('https://fonts.cdnfonts.com/css/chinese-rocks');
.header {
  height: 250px;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: black;
  font-family: 'Chinese Rocks Rg', sana-serif;
  justify-content: center;
  color: white;
  font-size: 150px;
}
            
.LoginButton{
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.LoginButton:hover{
  opacity: 0.8;
}

.LoginButton:active{
  opacity: 0.5;
}

body{
  margin: 0;
}


/*Test for a pop up button*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}