/*PS Added*/
.account-menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}
/*PS Added*/
.nav-menu,
.menu {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  background-color: black;
  padding-left: 40px;
  padding-left: 2.083vw;
}
/*PS Added*/
.nav-wrapper{
  display: flex;
  flex-direction: row;
  padding-inline: 50px;
  padding-inline: 3.906vw;
  align-items: center;
  position: relative;
  justify-content: space-between;
  min-height: 60px;
  height: 4.688vw;
  background-color: black;
  z-index: 1;
}
/*PS Added*/
.hamburgerdiv {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  height: 60px;
  width: 60px;
}
/*PS Added*/
@media screen and (max-width: 1005px) {
  .hamburgerdiv {
    display: flex;
  }
  .nav-wrapper {
    align-items: flex-start;
    margin: 0;
  }
  .menu {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    top: -23rem;
    transform: translateX(-50%);
    align-items: center;
    width: 55%;
    padding: 0;
  }
  .menu.show {
    top: 0;
    animation: fade-inout 1s;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin-top: 15px;
    width: 100%;
    padding: 0;
    padding-bottom: 15px;
    z-index: 2;
    gap: 15px;
  }
  .account-menu {
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom: 15px;
    z-index: 2;
    gap: 15px;
  }
}